body {
	background-color: #F0F0F0;
	padding-top: 50px;
}
div.space {
	margin-top: 16px;
	margin-bottom: 32px;
}
p.comment p{
	margin-bottom: 8px;
}
p.mapaddress {
	margin-bottom: 2px;
	margin-left: 2px;
}

iframe {
	width: 100%;
}