body {
	background-color: #F0F0F0;
	padding-top: 65px;
}

.resizeimage {
	max-width: 640px;
	position: relative;
}
.resizeimage img{
	width: 100%;
}

div.resizeimage h1.imgtitle1 {
	position: absolute;
	color: white;
	font-size: 2em;
	font-family: Quicksand, sans-serif;
	bottom: 56px;
	left: 45px;
	opacity: 0.9;
}
div.resizeimage h1.imgtitle2 {
	position: absolute;
	color: white;
	font-size: 3em;
	font-family: Quicksand, sans-serif;
	bottom: 0;
	left: 45px;
	opacity: 1.0;
}

@media(max-width: 670px){
	div.resizeimage h1.imgtitle1 {
		font-size: 1.7em;
		bottom: 50px;
	}
	div.resizeimage h1.imgtitle2 {
		font-size: 2.5em;
	}
}

.img-gallery {
	width: 90%;
	padding: 20px;

}
.slider a {
	text-decoration: none;
}
.slider a:hover {
	opacity: 0.9;
}
.slider a:link {
	color: black;
}
.slider a:visited {
	color: black;
}
.slider a:focus {
	outline: none;
}


.img-title {
	text-align: center;
	margin: 10px 0;
}

.slide-item {
	margin: auto 5px;
	margin-bottom: 3px;
	box-shadow: 2px 2px #ccc;
}
.slide-item:active {
	box-shadow: none;
	position: relative;
	top: 2px;
	left: 2px;
}

.slide-img {
	width: 100%;
	max-height: 200px;
	object-fit: cover;
}

.slick-prev:before, .slick-next:before {
	color: black;
}